@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
:root {
    --gray: #a7a4a4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3c3b3b;
}
body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 81%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 #cacaca;
    padding: 75px;
    text-align: center;
}
.container h1 {
    font-size: 75px;
    font-weight: 300;
    margin: 0px auto 75px;
    padding: 0;
    line-height: 55px;
}
.buttonCon {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    width: 430px;
    margin: auto;
}
.buttonCon h2 {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 20px;
}
/* index page animation delay start */
.buttonCon h2 {
    animation-delay: 0.5s;
}
.buttonCon .left a,
.buttonCon .right a {
    animation-delay: 1.25s;
}

/* index page animation delay end */

.buttonCon .left a,
.buttonCon .right a {
    width: 200px;
    height: 175px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    padding: 40px 50px;
}
.buttonCon a img {
    height: 100%;
    width: 100%;
}

.buttonCon .left a {
    background-image: linear-gradient(45deg, #4c9cff, #f15ec4);
}
.buttonCon .right a {
    background-image: linear-gradient(45deg, #f15ec4, #4c9cff);
}

@media screen and (max-width: 710px) {
    .buttonCon .left a,
    .buttonCon .right a {
        width: 150px;
        height: 150px;
        margin: auto;
    }
    .buttonCon h2 {
        font-size: 20px;
    }
    .container h1 {
        font-size: 65px;
    }
    .buttonCon {
        width: 350px;
    }
    .container {
        width: 95%;
        padding: 50px;
    }
}
@media screen and (max-width: 425px) {
    .buttonCon {
        grid-template-columns: 1fr;
    }
    .container h1 {
        font-size: 50px;
        margin-bottom: 50px;
    }
    .buttonCon {
        width: 200px;
    }
    .container {
        width: 100%;
        border-radius: 0;
    }
}
/* classroom css start */

.classroomContainer {
    width: 95%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 #cacaca;
    padding: 25px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 30px;
    margin: 30px auto;
}

.classroomContainer h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0px auto 15px;
    padding: 0;
    text-align: center;
}

.video {
    position: relative;
}

.video .imgContainer .screen img {
    width: 100%;
    height: 100%;
}
.video,
.video .imgContainer,
.sideBar,
.instructorIn {
    width: 100%;
}

.video .imgContainer .screen {
    display: flex;
    background-color: #595959;
}

.video .imgContainer .liked {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video .imgContainer .liked img {
    height: 0px;
    width: 0px;
}
.video .imgContainer .liked img.likeing {
    height: 0px;
    width: 0px;
    animation: likeing 1s ease 1;
}
@keyframes likeing {
    0% {
        height: 0px;
        width: 0px;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 150px;
        width: 150px;
    }
}

.video .imgContainer {
    position: relative;
    overflow: hidden;
}
.video .imgContainer .instructorName {
    position: absolute;
    right: 15px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    z-index: 9998;
}
.video .hoverMenu {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    bottom: -60px;
    height: 60px;
    right: 15px;
    border-radius: 10px 10px 0 0;
    font-size: 35px;
    transition: 0.5s;
}

.video .imgContainer:hover .hoverMenu {
    bottom: 0;
}
.video .hoverMenu > div {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 13px;
    cursor: pointer;
}
.video .hoverMenu > div img {
    width: 100%;
}
.video .hoverMenu i {
    color: #fff;
}

.video .videoMenu {
    width: 540px;
    border-radius: 0 0 10px 10px;
    margin: 25px auto 0;
}

.video .videoMenu::after {
    content: "";
    display: block;
    clear: both;
}
.video .videoMenu > div:last-child {
    margin-right: 0px;
}
.video .videoMenu > div {
    height: 60px;
    padding: 15px;
    border-radius: 10px;
    background: #595959;
    cursor: pointer;
    width: 60px;
    float: left;
    margin-right: 15px;
}
.video .videoMenu > div img {
    width: 100%;
}

.videoLoader {
    position: absolute;
    background: #595959;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.videoLoader::after {
    content: "";
    height: 70px;
    width: 70px;
    border-right: 5px solid #fff;
    display: inline-block;
    border-radius: 100px;
    animation: videoLoading 1s linear infinite;
}

@keyframes videoLoading {
    to {
        transform: rotate(360deg);
    }
}

.videoNotFound {
    position: absolute;
    background: #595959;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.videoNotFound span {
    height: 75px;
    width: 75px;
    border-radius: 100px;
    background: #ccc;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.videoNotFound span.small {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
}

.userIconBox {
    direction: rtl;
}
.userIcon {
    height: 50px;
    /* width: 50px; */
    overflow: hidden;
    border-radius: 50%;
    background: orange;
    padding: 5px 5px 0;
}
.userIcon img,
.instructorIn .instructorImgBox .img img,
.privateChat .imgBox .img img {
    height: 100%;
    width: 100%;
}
.instructorIn {
    margin-top: 30px;
    overflow-x: hidden;
}
.instructorIn h3 {
    font-weight: 400;
    font-size: 16px;
}
.instructorIn .card {
    box-shadow: 0 0 7px 0 #cacacaad;
    border-radius: 100px;
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 52px;
    border: 1px solid #cacacaad;
}
.instructorIn .instructorImgBox .img {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    background: orange;
    padding: 5px 5px 0;
}

.instructorIn .infoBox {
    height: 50px;
    margin: 8px 0 0 10px;
}
.instructorIn .infoBox div {
    font-size: 13px;
    font-weight: 400;
}
.instructorIn .infoBox p {
    /* font-weight: 300; */
    font-size: 10px;
    color: var(--gray);
}

.suggestedVideos {
    margin-top: 10px;
    overflow-x: hidden;
}
.suggestedVideos h3 {
    font-weight: 400;
    font-size: 16px;
}

.suggestedVideoBox {
    margin-top: 15px;
    border: 1px solid #e5e5e5;
    padding: 5px;
}
.suggestedVideoBox .thumbnail {
    width: 100%;
    position: relative;
}
.suggestedVideoBox .thumbnail img {
    width: 100%;
}
.suggestedVideoBox .thumbnail .instructorName {
    position: absolute;
    right: 15px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0px 5px;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    z-index: 9999;
}

/* classroom animation delay start */
.instructorIn h3 {
    animation-delay: 0.75s;
}
.instructorIn .card {
    animation-delay: 1s;
}
.suggestedVideos h3 {
    animation-delay: 1.25s;
}
.suggestedVideos h3 {
    animation-delay: 1.25s;
}
.suggestedVideos .suggestedVideoBox {
    animation-delay: var(--animationDelay);
}
.privateChat {
    overflow-x: hidden;
}

.privateChat h3 {
    animation-delay: 1.25s;
}
.privateChat > .card:nth-child(2) {
    animation-delay: 1.5s;
}
.privateChat > .card:nth-child(3) {
    animation-delay: 1.75s;
}
.privateChat > .card:nth-child(4) {
    animation-delay: 2s;
}
.privateChat > .card {
    box-shadow: 0 0 7px 0 #cacacaad;
    border-radius: 50px;
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid #cacacaad;
}
.privateChat .imgBox .img {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    background: orange;
    padding: 5px 5px 0;
}
.privateChat .infoBox {
    margin: 2px 5px 0 4px;
    font-size: 10px;
}
.privateChat .infoBox .nameTimeBox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
}
.privateChat .infoBox .nameTimeBox div {
    height: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.privateChat .infoBox .nameTimeBox p {
    border-left: 1px solid #a7a4a4;
    padding-left: 3px;
    color: #a7a4a4;
}
.privateChat .infoBox .message {
    font-size: 9px;
    border-top: 1px dotted #a7a4a4;
    margin-top: 2px;
}

.centerAlign {
    background-color: #000000;
    width: 640px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.centerAlignScreen {
    background-color: #000000;
    width: 850px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.screenShare {
    position: absolute;
    background: #595959;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.chatBox.showPeopleList .peopleList {
    display: initial;
}

.chatBox.showMsgBox .msgBox {
    display: initial;
}

.chatBox.showPeopleList .header #people {
    color: #fff;
    background: #6f6f6f;
}
.chatBox.showMsgBox .header #chat {
    color: #fff;
    background: #6f6f6f;
}

.chatBox {
    width: 750px;
    height: 450px;
    position: fixed;
    right: -60%;
    border-radius: 10px;
    background: #fff;
    transition: 0.5s all;
    transform: translate(50%, -50%);
    color: #363636;
    top: 50%;
}
.chatBox.show {
    right: 50%;
    box-shadow: 0 0 0px 400px #000000a6;
}
.chatBox .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.chatBox .header #people {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #3636;
}

.chatBox .header #chat {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chatBox .header div {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #e6e6e6;
    border-bottom: 1px solid #3636;
    font-weight: 500;
}

.chatBox .peopleList {
    display: none;
}

/* new Changes */
.chatBox .peopleList .person {
    border-bottom: 1px solid #3636;
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 660px;
}

.chatBox .peopleList .peoples {
    height: 410px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.video .videoMenu .notification {
    position: relative;
}

.video .videoMenu .notification .count {
    position: absolute;
    color: #595959;
    /* border: 2px solid; */
    border-radius: 30px;
    height: 18px;
    width: 18px;
    text-align: center;
    right: 11px;
    background: white;
    font-size: 14px;
}
/* new end */

.chatBox .peopleList .person .icon {
    height: 45px;
    width: 45px;
    border-radius: 50px;
    /* background: #a6eaf5; */
    overflow: hidden;
    padding: 5px 5px 0px 5px;
    border: 1px solid #6f6f6f;
    box-sizing: border-box;
}

.chatBox .peopleList .person .icon img {
    height: 100%;
    width: 100%;
}

.chatBox .peopleList .person .name {
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 45px;
    padding-left: 5px;
    font-weight: 500;
    font-size: 15px;
    box-sizing: border-box;
}

.chatBox .peopleList .person .camera {
    height: 45px;
    width: 45px;
    padding: 13px;
    display: none;
}

.chatBox .peopleList .person .camera img {
    height: 100%;
}

.chatBox .peopleList .person .mic {
    height: 45px;
    width: 45px;
    padding: 13px;
    display: none;
}

.chatBox .peopleList .person .mic img {
    height: 100%;
}

.chatBox .msgBox,
.chatBox .peopleList {
    height: 450px;
    display: none;
    /* background: #ff000047; */
}

.chatBox .msgBox .messages {
    height: 360px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chatBox .msgBox .messages {
    padding-top: 5px;
}
.chatBox .msgBox .messages .received,
.chatBox .msgBox .messages .sent {
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    width: 600px;
}

.chatBox .msgBox .messages .received {
    border-radius: 20px 20px 20px 0;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 50px 90%;
}

.chatBox .msgBox .messages .received .userIcon {
    /* float: left; */
}

.chatBox .msgBox .messages .received .userIcon img {
}

.chatBox .msgBox .messages .received .nameMsg {
    /* float: left; */
    background: #f3f3f3;
    /* width: 90%; */
    padding: 1%;
    margin-left: 5px;
    border-radius: 5px 5px 5px 0;
}

.chatBox .msgBox .messages .received .nameMsg .name {
    border-bottom: 1px solid #b1aeae;
    font-weight: 800;
}

.chatBox .msgBox .messages .received .nameMsg .msg {
}

.chatBox .msgBox .messages .received .nameMsg .msg img {
    height: 30px;
}


.chatBox .msgBox .messages .sent {
    align-self: flex-end;
    border-radius: 20px 20px 20px 0;
    text-align: right;
    display: grid;
    grid-template-columns: 90% 50px;
}

.chatBox .msgBox .messages .sent .userIcon {
    /* float: left; */
}

.chatBox .msgBox .messages .sent .userIcon img {
}

.chatBox .msgBox .messages .sent .nameMsg {
    /* float: left; */
    background: #e2dddd;
    /* width: 90%; */
    padding: 1%;
    margin-right: 5px;
    border-radius: 5px 5px 0 5px;
}

.chatBox .msgBox .messages .sent .nameMsg .name {
    border-bottom: 1px solid #b1aeae;
    font-weight: 800;
}

.chatBox .msgBox .messages .sent .nameMsg .msg img {
    height: 30px;
}

.chatBox .msgBox .footer {
    display: grid;
    grid-template-columns: 30px 86% 60px;
    grid-gap: 5px;
    margin-top: 10px;
}

.chatBox .msgBox .footer .toggleEmoji {
    height: 30px;
    padding: 5px 0 5px 5px;
}

.chatBox .msgBox .footer .toggleEmoji img {
    height: 100%;
}

.chatBox .msgBox .footer .inputBox {
    width: 100%;
    height: 30px;
}

.chatBox .msgBox .footer .inputBox input {
    outline: none;
    border: 1px solid #757575;
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding-left: 10px;
}

.chatBox .close::after {
    content: "";
    height: 50px;
    width: 50px;
    background: white;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    z-index: -1;
    right: -8px;
    border-radius: 10px;
}
.chatBox .close {
    position: absolute;
    right: 20px;
    /* background: #fff; */
    /* border-radius: 50px; */
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    top: -27px;
    cursor: pointer;
}

.chatBox .msgBox .footer .send button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #757575;
    border-radius: 10px;
    outline: none;
}
.chatBox .msgBox .footer .emojisBox {
    position: absolute;
    width: 190px;
    background-color: #fff;
    border: 1px solid #cecece;
    bottom: 55px;
    left: -80px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0px #0000001f;
}
.chatBox .msgBox .footer .emojisBox img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.chatBox .msgBox .footer .emojisBox::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    bottom: -22px;
    left: 50%;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 1px solid #cecece;
    z-index: -1;
    box-shadow: 0 0 10px 0px #0000001f;
}

@media screen and (max-width: 920px) {
    .chatBox .msgBox .footer .emojisBox {
        left: 0;
    }
    .chatBox .msgBox .footer .emojisBox::after {
        left: 10%;
    }
}

@media screen and (max-width: 768px) {
    .video .videoMenu {
        width: 510px;
        margin-top: 0;
    }
    .video .videoMenu > div {
        /* height: 100px; */
        /* padding: 30px; */
        margin-top: 30px;
    }
    .classroomContainer {
        grid-template-columns: 1fr;
    }
    .classroomContainer h1 {
        font-size: 28px;
    }
    .sideBar {
        border-top: 1px dashed #ccc;
        /* padding-top: 30px; */
    }
    .instructorIn .card {
        grid-template-columns: 10% 90%;
    }
    .chatBox {
        width: 95%;
    }
    .chatBox .msgBox .footer {
        display: grid;
        grid-template-columns: 30px 75% 60px;
        margin: auto;
    }

    .chatBox .msgBox .messages .sent .nameMsg {
        margin: 0 5px 0 29%;
        width: 70%;
    }
    .chatBox .msgBox .messages .received .nameMsg {
        width: 70%;
    }
}

@media screen and (max-width: 690px) {
    .chatBox .msgBox .messages .sent .nameMsg {
        margin: 0 5px 0 39%;
        width: 60%;
    }
    .chatBox .msgBox .messages {
        overflow-x: hidden;
    }
    .chatBox .msgBox .messages .received .nameMsg {
        width: 60%;
    }
}

@media screen and (max-width: 590px) {
    .video .videoMenu {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .chatBox .msgBox .messages .sent .nameMsg {
        margin: 0 5px 0 49%;
        width: 50%;
    }
    .chatBox .msgBox .messages .received .nameMsg {
        width: 50%;
    }
    .video .videoMenu {
        grid-template-columns: repeat(4, 1fr);
    }
    .video .videoMenu > div {
        height: 60px;
        padding: 20px;
    }
    .classroomContainer h1 {
        font-size: 20px;
    }
    .instructorIn .card {
        grid-template-columns: 18% 82%;
    }
    .sideBar {
        padding-top: 10px;
    }
    .classroomContainer {
        grid-gap: 10px;
    }
    .instructorIn {
        margin-top: 20px;
    }
    .suggestedVideos {
        margin-top: 40px;
    }
    .buttonCon a img {
        height: 80%;
    }
    .video .imgContainer .screen img {
        height: 200px;
    }
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}